<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category_name }} Menu - FoodWheels</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png', _external=True) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', _external=True) }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='fish.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo">
            </a>
        </div> 
        <div class="title"> 
            <h2>{{ category_name }} Menu</h2>
        </div>
        <div class="auth-buttons">
            <a href="{{ url_for('cart_page') }}" class="cart-icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            {% if user %}
                <div class="dropdown">
                    <button class="btn account-btn">Hi, {{ user.first_name }}</button>
                    <div class="dropdown-content">
                        {% if user.is_admin %}
                            <a href="{{ url_for('admin_panel') }}">Admin Panel</a>
                        {% endif %}
                        <a href="{{ url_for('my_orders') }}">My Orders</a>
                        <a href="{{ url_for('my_bookings') }}">My Bookings</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('signup') }}" class="btn">Sign Up</a>
                <a href="{{ url_for('login') }}" class="btn">Login</a>
            {% endif %}
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <section class="restaurants">
        <div class="restaurant-items">
            {% for item in items %}
            <div class="restaurant-item">
                <a href="{{ url_for('item_details', item_id=item.id) }}">
                    <img src="{{ url_for('static', filename='images/' + item.image_file) }}" alt="{{ item.name }}">
                </a>
                <h3>{{ item.name }}</h3>
                <p class="item-price">${{ "%.2f"|format(item.price) }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Food Ordering App. All rights reserved.</p>
    </footer>
</body>
</html>